<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="messageService" class="com.codegeek.day2.MessageServiceImpl">
        <constructor-arg name="name" value="张三"/>
        <constructor-arg name="age" value="23"/>
    </bean>

    <!--构造器注入-->
    <bean id="messageSender" class="com.codegeek.day2.MessageSender">
        <constructor-arg name="messageService" ref="messageService"/>
    </bean>

    <bean id="messageSender1" class="com.codegeek.day2.MessageSender">
        <property name="list" ref="list1">
        </property>
    </bean>

    <util:list id="list1">
        <value>123</value>
        <value>456</value>
    </util:list>

    <util:map id="map1">
        <entry key="student" value-ref="iphone11"/>
    </util:map>

    <util:set id="set1">
        <value>123</value>
        <value>456</value>
    </util:set>

    <util:properties id="properties1">
        <prop key="123">456</prop>
    </util:properties>


    <bean id="messageSender2" class="com.codegeek.day2.MessageSender">
        <property name="set">
            <set>
                <value>我是messageSender的set数据1</value>
                <value>我是messageSender的set数据2</value>
            </set>
        </property>
    </bean>

    <bean id="student" class="com.codegeek.day1.Student">
        <property name="name" value="张三"/>
        <property name="age" value="23"/>
        <property name="gender" value="男"/>
        <property name="address" value="中国"/>
    </bean>

    <!--静态工厂方法参数赋值-->
    <bean id="iphone11" class="com.codegeek.day1.InstanceFactory" factory-method="instance">
        <constructor-arg name="brandName" value="iphone 11"/>
        <constructor-arg name="price" value="5999"/>
        <constructor-arg name="producePlace" value="china"/>
    </bean>

    <bean id="messageSender3" class="com.codegeek.day2.MessageSender">
        <property name="map">
            <map>
                <entry key="小学生" value="小明"/>
                <entry key="china">
                    <map>
                        <entry key="hubei" value="wuhan～加油"/>
                    </map>
                </entry>
                <entry key="student" value-ref="iphone11"/>
            </map>
        </property>
    </bean>

    <bean id="messageSender4" class="com.codegeek.day2.MessageSender">
       <property name="properties">
           <props>
               <prop key="driver">com.mysql.jdbc.Driver</prop>
           </props>
       </property>
    </bean>

</beans>