<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
        <!--包扫描路径-->
        <context:component-scan base-package="com.codegeek.aop.day5"/>
        <!--配置连接properties文件-->
        <context:property-placeholder location="classpath:aop/day5/jdbc.properties"/>

        <!--配置连接池-->
        <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
                <property name="driverClassName" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
        </bean>

        <bean class="org.springframework.jdbc.core.JdbcTemplate">
                <property name="dataSource" ref="dataSource"/>
        </bean>

        <!--&lt;!&ndash;() 匹配一个不接受任何参数的方法&ndash;&gt;-->
        <!--&lt;!&ndash;(..) 匹配一个接受任意数量参数的方法&ndash;&gt;-->
        <!--&lt;!&ndash;(*) 匹配了一个接受一个任何类型的参数的方法&ndash;&gt;-->
        <!--&lt;!&ndash;(*,String) 匹配了一个接受两个参数的方法，其中第一个参数是任意类型，第二个参数必须是String类型&ndash;&gt;-->
        <!--匹配包含aop包下包含impl包下的任意类的任意方法-->
        <!--<aop:config>-->
                <!--<aop:pointcut id="pointcut" expression="execution(* *..aop..impl.*.*(..))"/>-->
                <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>-->
        <!--</aop:config>-->

        <!--&lt;!&ndash;事务驱动&ndash;&gt;-->
        <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
                <!--<tx:attributes>-->
                        <!--<tx:method name="get*" read-only="true"/>-->
                        <!--<tx:method name="find*" read-only="true"/>-->
                        <!--<tx:method name="*" />-->
                <!--</tx:attributes>-->
        <!--</tx:advice>-->

        <!--配置transactionManager事务管理器-->
        <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
                <property name="dataSource" ref="dataSource"/>
        </bean>

        <!--@EnableTransactionManagement-->
        <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>